//gitlab.com/api/v4/projects/28236778/packages/npm/:_authToken=${NPM_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
@veriksystems:registry=https://gitlab.com/api/v4/projects/28236778/packages/npm/
unsafe-perm=true
